.container {
  background-color: var(--bg_admin);
  display: flex;
  height: 100vh;
}

/* MAIN CONTENT */
.container main {
  width: 100%;
  padding: 20px 30px;
  overflow-y: scroll;
}

.container main .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container main .header div {
  display: flex;
  gap: 3px;
}

.container main .header #btn_open_aside {
  border: none;
  background: transparent;
  width: 45px;
  height: 45px;
  margin-top: 1px;
  cursor: pointer;
  display: none;
}

.container main .header h2 {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.container main .header #btn_add_new_session {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--second_red);
  transition: all .1s ease;
}

.container main .header #btn_add_new_session:hover {
  background-color: var(--second_red_opacity) !important;
  transition: all .1s ease;
}

.container main .header #btn_add_new_session img {
  width: 25px;
  height: 25px;
}

/* SESSIONS ROW */
.container .row {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SESSIONS ITEM */
.container .row .session_item {
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  background-color: var(--bg_session_item);
  padding: 20px;
  transition: all .1s ease;
  text-decoration: none;
}

.container .row .session_item:hover {
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  filter: brightness(0.93);
  padding: 20px;
  transition: all .1s ease;
}

/* SESSIONS ICON */
.container .row .session_item .icon_container {
  width: 50px;
  height: 50px;
  background-color: var(--second_red);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .row .session_item .icon_container .border_icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--wine);
  border-radius: 50%;
}

.container .row .session_item .icon_container img {
  width: 14px;
  height: 14px;
}

/* SESSIONS CONTENT */
.container .row .session_item .session_content {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.container .row .session_item .session_content .title {
  color: var(--white);
  opacity: 0.9;
  font-weight: 500;
  font-size: 17px;
}

.container .row .session_item .session_content .room {
  color: var(--white);
  opacity: 0.6;
  font-weight: 400;
  font-size: 15px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}